<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.ngarihealth.com/schema/ssdev"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.ngarihealth.com/schema/ssdev
						http://www.ngarihealth.com/schema/ssdev/ssdev.xsd">

    <component-scan base-package="recipe.dao, recipe.service.**, recipe.unloginservice, recipe.drugsenterprise,
        recipe.hisservice, recipe.serviceprovider.*,recipe.audit.*,recipe.prescription,recipe.mq"/>

    <reference interface="recipe.third.IWXServiceInterface" id="eh.wxService"/>

    <!--药品搜索服务-->
    <reference id="es.drugSearchService" interface="es.api.DrugSearchService"/>

</s:beans>