<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.ngarihealth.com/schema/ssdev"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.ngarihealth.com/schema/ssdev
						http://www.ngarihealth.com/schema/ssdev/ssdev.xsd">

    <reference interface="com.ngari.his.recipe.service.IRecipeHisService" id="his.iRecipeHisService" />

</s:beans>