<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.ngarihealth.com/schema/ngari"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.ngarihealth.com/schema/ngari
						http://www.ngarihealth.com/schema/ngari/ngari.xsd">

    <reference id="ca.iCaRemoteService" interface="ca.service.ICaRemoteService"/>
    <reference id="ca.iCaSignService" interface="ca.service.ICaSignService"/>
    <reference id="ca.signRecipeInfoService" interface="ca.service.ISignRecipeInfoService"/>
</s:beans>