<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.ngarihealth.com/schema/ngari"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.ngarihealth.com/schema/ngari
						http://www.ngarihealth.com/schema/ngari/ngari.xsd">

    <reference interface="com.ngari.opbase.base.service.IBusActionLogService" id="opbase.busActionLogService"/>
    <reference interface="com.ngari.opbase.zjs.service.IMinkeOrganService" id="opbase.minkeOrganService"/>
    <reference interface="com.ngari.opbase.base.service.IDynamicLinkService" id="opbase.dynamicLinkService"/>
    <reference interface="com.ngari.opbase.xls.service.IImportExcelInfoService" id="opbase.importExcelInfoService"/>
    <reference interface="com.ngari.opbase.auth.service.ISecurityService" id="opbase.securityService" />
    <reference interface="com.ngari.opbase.log.service.IDataSyncLogService" id="opbase.dataSyncLogService" />
    <reference interface="com.ngari.opbase.base.service.IOpOrganAccountAndPermissionService" id="opbase.organOpService" />

</s:beans>