<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ngari="http://www.ngarihealth.com/schema/ngari"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       			http://www.ngarihealth.com/schema/ngari http://www.ngarihealth.com/schema/ngari/ngari.xsd">

    <!-- service register center -->
    <ngari:applicationDomain name="eh" registryAddress="${zk}" serverId="recipe"/>
    <ngari:connector url="${url}">
        <ngari:filter id="json"/>
        <ngari:filter id="urt"/>
    </ngari:connector>

    <!--zookeeper代理地址：
    zookeeper://zk.ngarihealth.com:1111  f1环境
    zookeeper://zk.ngarihealth.com:2222  f2环境
    zookeeper://zk.ngarihealth.com:3333  f3环境
    zookeeper://172.20.1.58:4181 FAT
    zookeeper://zk.ngarihealth.com:6666 UAT
    zookeeper://172.20.1.58:7181  f5环境
    zookeeper://172.20.1.58:5181  devtest环境
    zookeeper://zk.ngarihealth.com:8888  shishi环境
    zookeeper://zk.ngarihealth.com:7777  f6环境
    zookeeper://zk.ngarihealth.com:8899  f7环境
    zookeeper://zk.ngarihealth.com:9009  f8环境
    zookeeper://172.20.1.58:2181 f9环境 -->
    <!--http://localhost:8899//*.jsonRequest-->

    <!--<ngari:mvcServer port="8899"/>-->

    <!-- pub/sub -->
    <ngari:publisher id="publisher"/>

    <!-- log -->
    <ngari:logger type="kafka">
        <ngari:serverNodeExDataBuilder id="datasourceExData"/>
        <ngari:serverNodePerfLogExDataBuilder id="datasourcePerfLogExData"/>
    </ngari:logger>

    <!-- remote loader -->
    <ngari:reference interface="ctd.controller.ConfigurableLoader" id="eh.userRemoteLoader"/>
    <ngari:reference interface="ctd.controller.ConfigurableLoader" id="eh.roleRemoteLoader"/>
<!--    <ngari:reference interface="ctd.controller.ConfigurableLoader" id="eh.accessTokenRemoteLoader"/>-->
    <ngari:reference interface="ctd.controller.ConfigurableLoader" id="eh.dictionaryRemoteLoader"/>
    <ngari:reference interface="ctd.controller.ConfigurableLoader" id="eh.appRemoteLoader"/>
    <ngari:reference interface="ctd.controller.ConfigurableLoader" id="eh.categoryNodeRemoteLoader"/>
    <ngari:reference interface="ctd.controller.ConfigurableLoader" id="eh.schemaRemoteLoader"/>
    <ngari:reference id="eh.tenantRemoteLoader" interface="ctd.controller.ConfigurableLoader"/>
    <ngari:reference id="eh.dictionaryService" interface="ctd.dictionary.service.DictionaryLocalService" />

    <!-- remote updater -->
    <ngari:reference interface="ctd.controller.updater.ConfigurableItemUpdater" id="eh.userUpdater"/>
    <ngari:reference interface="ctd.controller.updater.ConfigurableUpdater" id="eh.roleUpdater"/>
    <!--    <ngari:reference interface="ctd.controller.updater.ConfigurableUpdater" id="eh.accessTokenUpdater"/>-->
    <ngari:reference interface="ctd.controller.updater.ConfigurableItemUpdater" id="eh.dictionaryUpdater"/>
    <ngari:reference interface="ctd.controller.updater.ConfigurableItemUpdater" id="eh.applicationUpdater"/>
    <ngari:reference interface="ctd.controller.updater.ConfigurableItemUpdater" id="eh.categoryNodeUpdater"/>
    <ngari:reference interface="ctd.controller.updater.ConfigurableItemUpdater" id="eh.schemaUpdater"/>
    <ngari:reference id="eh.tenantUpdater" interface="ctd.controller.updater.ConfigurableItemUpdater"/>

    <!-- user -->
    <bean id="userController" class="ctd.account.user.UserController">
        <property name="loader" ref="eh.userRemoteLoader"/>
        <property name="updater" ref="eh.userUpdater"/>
    </bean>
    <bean id="userWatcher" class="ctd.account.user.UserWatcher" lazy-init="false">
        <property name="controller" ref="userController"/>
    </bean>

    <!-- role -->
    <bean id="roleController" class="ctd.account.role.RoleController">
        <property name="loader" ref="eh.roleRemoteLoader"/>
        <property name="updater" ref="eh.roleUpdater"/>
    </bean>
    <bean id="roleWatcher" class="ctd.account.role.RoleWatcher" lazy-init="false">
        <property name="controller" ref="roleController"/>
    </bean>

    <!--    &lt;!&ndash; accessToken &ndash;&gt;-->
    <!--    <bean id="accessTokenController" class="ctd.access.AccessTokenController">-->
    <!--        <property name="loader" ref="eh.accessTokenRemoteLoader" />-->
    <!--        <property name="updater" ref="eh.accessTokenUpdater" />-->
    <!--    </bean>-->
    <!--    <bean id="accessTokenWatcher" class="ctd.access.AccessTokenWatcher" lazy-init="false">-->
    <!--        <property name="controller" ref="accessTokenController"/>-->
    <!--    </bean>-->

    <!-- dictionary -->
    <bean id="dictionaryController" class="ctd.dictionary.DictionaryController">
        <property name="loader" ref="eh.dictionaryRemoteLoader"/>
        <property name="updater" ref="eh.dictionaryUpdater"/>
    </bean>
    <bean id="dictionaryWatcher" class="ctd.dictionary.DictionaryWatcher" lazy-init="false">
        <property name="controller" ref="dictionaryController"/>
    </bean>

    <!-- application -->
    <bean id="applicationController" class="ctd.app.ApplicationController">
        <property name="loader" ref="eh.appRemoteLoader"/>
        <property name="updater" ref="eh.applicationUpdater"/>
    </bean>
    <bean id="applicationWatcher" class="ctd.app.ApplicationWatcher" lazy-init="false">
        <property name="controller" ref="applicationController"/>
    </bean>

    <!-- categoryNode -->
    <bean id="categoryNodeController" class="ctd.security.CategoryNodeController">
        <property name="loader" ref="eh.categoryNodeRemoteLoader"/>
        <property name="updater" ref="eh.categoryNodeUpdater"/>
    </bean>
    <bean id="categoryNodeWatcher" class="ctd.security.CategoryNodeWatcher" lazy-init="false">
        <property name="controller" ref="categoryNodeController"/>
    </bean>

    <!-- schema -->
    <bean id="schemaController" class="ctd.schema.SchemaController">
        <property name="loader" ref="eh.schemaRemoteLoader"/>
        <property name="updater" ref="eh.schemaUpdater"/>
    </bean>
    <bean id="schemaWatcher" class="ctd.schema.SchemaWatcher" lazy-init="false">
        <property name="controller" ref="schemaController"/>
    </bean>

    <!-- Tenant -->
    <bean id="tenantController" class="ctd.account.tenant.TenantController">
        <property name="loader" ref="eh.tenantRemoteLoader"/>
        <property name="updater" ref="eh.tenantUpdater"/>
    </bean>
    <bean id="tenantWatcher" class="ctd.account.tenant.TenantWatcher">
        <property name="controller" ref="tenantController"/>
    </bean>

    <!-- session updater -->
    <bean class="ctd.account.session.SessionItemManager"/>
    <!-- parameter store -->
    <ngari:reference id="eh.paramLoader" interface="eh.utils.params.ParamLoader"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="eh.utils.params.ParamUtils.setParamLoader"/>
        <property name="arguments">
            <list><ref bean="eh.paramLoader"/></list>
        </property>
    </bean>
</beans>
