<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.ngarihealth.com/schema/ngari"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.ngarihealth.com/schema/ngari
						http://www.ngarihealth.com/schema/ngari/ngari.xsd">

    <reference id="easypay.busPaySettlement" interface="com.ngari.pay.api.service.bus.IBusPaySettlementFacade"/>
    <reference id="easypay.payService" interface="recipe.third.IEasyPayServiceInterface"/>
    <reference id="easypay.payService2" interface="recipe.easypay.IEasyPayService"/>


</s:beans>
