<?xml version="1.0" encoding="UTF-8"?>
<s:beans xmlns:s="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.ngarihealth.com/schema/ngari"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.ngarihealth.com/schema/ngari
						http://www.ngarihealth.com/schema/ngari/ngari.xsd">


    <!-- consult  基础项目-->

    <reference interface="com.ngari.consult.common.service.IConsultService" id="consult.consultService"/>
    <reference interface="com.ngari.consult.common.service.IConsultExService" id="consult.consultExService"/>
    <!-- 复诊项目-->
    <reference id="revisit.revisitExService" interface="com.ngari.revisit.common.service.IRevisitExService"/>
    <reference id="revisit.recipeOnLineRevisitService"
               interface="com.ngari.revisit.process.service.IRecipeOnLineRevisitService"/>
    <reference id="revisit.revisitService" interface="com.ngari.revisit.common.service.IRevisitService"/>

    <reference interface="com.ngari.consult.process.service.IRecipeOnLineConsultService"
               id="consult.recipeOnLineConsultService"/>

    <reference id="revisit.revisitTracesSortService"
               interface="com.ngari.revisit.traces.service.IRevisitTracesSortService"/>

</s:beans>